.card {
  display: flex;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 300px;
}

.card .card-title {
  font-size: 2rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}

.card .card-body {
  font-size: 1rem;
}

.card .card-body a {
  text-decoration: underline;
}

.card .text-button {
  background-color: #326dee;
  color: white;
  padding: 0.75rem;
  border: 1px;
  margin: 0.75rem;
}

.text-primary {
  color: #326dee;
}

.bg-primary {
  background-color: #326dee;
}

.text-secondary {
  color: #1ac888;
}

.bg-secondary {
  background-color: #1ac888;
}

.text-error {
  color: #d32752;
}

.bg-error {
  background-color: #d32752;
}

.text-info {
  color: #f6c316;
}

.bg-info {
  background-color: #f6c316;
}

.text-blue {
  color: #1919e6;
}

.bg-blue {
  background-color: #1919e6;
}

.text-red {
  color: #e61919;
}

.bg-red {
  background-color: #e61919;
}

.text-yellow {
  color: #e6e919;
}

.bg-yellow {
  background-color: #e6e919;
}

.text-green {
  color: #19e635;
}

.bg-green {
  background-color: #19e635;
}

.text-orange {
  color: #ffa600;
}

.bg-orange {
  background-color: #ffa600;
}

.text-purple {
  color: #9900ff;
}

.bg-purple {
  background-color: #9900ff;
}

.text-gray {
  color: #808080;
}

.bg-gray {
  background-color: #808080;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.btn {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #e2e2e2;
}

.btn-primary {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #326dee;
}

.btn-primary:hover {
  background-color: #4a7ef0;
}

.btn-outlined-primary {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #326dee;
}

.btn-outlined-primary:hover {
  background-color: #326dee;
  color: white;
}

.btn-secondary {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #1ac888;
}

.btn-secondary:hover {
  background-color: #1ddf97;
}

.btn-outlined-secondary {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #1ac888;
}

.btn-outlined-secondary:hover {
  background-color: #1ac888;
  color: white;
}

.btn-error {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #d32752;
}

.btn-error:hover {
  background-color: #da3961;
}

.btn-outlined-error {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d32752;
}

.btn-outlined-error:hover {
  background-color: #d32752;
  color: white;
}

.btn-info {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #f6c316;
}

.btn-info:hover {
  background-color: #f7c92f;
}

.btn-outlined-info {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #f6c316;
}

.btn-outlined-info:hover {
  background-color: #f6c316;
  color: white;
}

.btn-blue {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #1919e6;
}

.btn-blue:hover {
  background-color: #3030e9;
}

.btn-outlined-blue {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #1919e6;
}

.btn-outlined-blue:hover {
  background-color: #1919e6;
  color: white;
}

.btn-red {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #e61919;
}

.btn-red:hover {
  background-color: #e93030;
}

.btn-outlined-red {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e61919;
}

.btn-outlined-red:hover {
  background-color: #e61919;
  color: white;
}

.btn-yellow {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #e6e919;
}

.btn-yellow:hover {
  background-color: #e9eb30;
}

.btn-outlined-yellow {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e6e919;
}

.btn-outlined-yellow:hover {
  background-color: #e6e919;
  color: white;
}

.btn-green {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #19e635;
}

.btn-green:hover {
  background-color: #30e949;
}

.btn-outlined-green {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #19e635;
}

.btn-outlined-green:hover {
  background-color: #19e635;
  color: white;
}

.btn-orange {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #ffa600;
}

.btn-orange:hover {
  background-color: #ffaf1a;
}

.btn-outlined-orange {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ffa600;
}

.btn-outlined-orange:hover {
  background-color: #ffa600;
  color: white;
}

.btn-purple {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #9900ff;
}

.btn-purple:hover {
  background-color: #a31aff;
}

.btn-outlined-purple {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #9900ff;
}

.btn-outlined-purple:hover {
  background-color: #9900ff;
  color: white;
}

.btn-gray {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #808080;
}

.btn-gray:hover {
  background-color: #8d8d8d;
}

.btn-outlined-gray {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #808080;
}

.btn-outlined-gray:hover {
  background-color: #808080;
  color: white;
}

.btn-black {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: black;
}

.btn-black:hover {
  background-color: #0d0d0d;
}

.btn-outlined-black {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid black;
}

.btn-outlined-black:hover {
  background-color: black;
  color: white;
}

.btn-white {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: white;
}

.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  text-decoration: none;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid white;
}

.btn-outlined-white:hover {
  background-color: white;
  color: white;
}
