// Theme
$primary: #326dee;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c316;

$colors:(
    "primary": $primary,
    "secondary": $secondary,
    "error": $error,
    "info": $info,
    "blue": #1919e6,
    "red": #e61919,
    "yellow":#e6e919,
    "green": #19e635,
    "orange": #ffa600,
    "purple":#9900ff,
    "gray": #808080,
    "black" : black,
    "white": white
);

@debug map-get($colors, "primary");

//Spacing
$_padding: 0.75rem ;
$_margin: 0.75rem ;

//Border
$base_border_thickness:1px;
$base_border_radius: 0.75rem;

// box shadow

$base_box_shadow: 1px 3px 5px rgba(0,0,0,0.1);

// font size

$base_font_size:1rem;
$font_size_sm: $base_font_size * 0.75;
$font_size_lg: $base_font_size * 1.5;
$font_size_xl: $base_font_size * 2;
$font_size_xxl: $base_font_size * 3;

