@import '../Variables/variable';

@mixin btn($bg-color: #e2e2e2) {
    text-decoration: none;
    display: inline-block;
    border: 0;
    padding: $_padding $_padding * 2;
    border-radius: $base_border_radius;
    cursor: pointer;
    background-color: $bg-color
}
.btn{
    @include btn;
}

@each $key, $val in $colors {
    .btn-#{$key}{
      @include btn($val);
      &:hover{
        background-color: lighten($val, 5)
      }
    }
    .btn-outlined-#{$key}{
        @include btn(#fff);
        border: $base_border_thickness solid $val;
        &:hover{
            background-color: $val;
            color: white;
        }
    }
    // .btn-complement-#{$key}{
    //     @include btn($val);
    //         &:hover{
    //             color: $val;
    //         }
    // }
}