@import '../Variables/variable';
// @use 'sass:math';

.card{
    display: flex;
    padding: $_padding;
    border: $base_border_thickness solid #ddd;
    box-shadow: $base_box_shadow;
    border-radius: 10px;
    // border-radius: math.div($base_border_radius, 4);
    max-width: 300px;
    .card-title{
        font-size: $font_size_xl ;
        padding-bottom: $_padding;
        font-weight: bold;
    }
    .card-body{
        font-size: $base_font_size;
        a{
            text-decoration: underline;
        }
    }
    .text-button{
        background-color: map-get($colors, "primary");
        color: map-get($colors, 'white' );
        padding: $_padding;
        border: $base_border_thickness;
        margin: $_margin;
    }
}

@debug 'hello  world';
@debug 'hello  world';
